                    /* Início - CSS Global */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}

                    /* Fim - CSS GLobal*/

                    /* INÍCIO BANNER */

.banner {
    padding: 120px 80px;
    background-image: url("img/banner-topo.jpg");
    background-position: center;
    background-size: cover;                 
}

.b-cont1 {
    max-width: 250px;
    color: #3c184e
}

.b-cont1 img{
    margin-right: 5px;
    width: 30px;
}

.nome {
    font-size: 35px;
    margin: 0 0 5px 0;
}

.slogan {
    font-size: 14px;
    text-align: center;
    margin: 0;
}

.b-cont2 {
    max-width: 1024px;
    border-radius: 10px;
    padding: 40px;
    margin: 70px auto 0 auto;
    background-color: #ffffffc4;
    box-shadow: 0 8px 32px #1f26875e;    
}

.b-cont2 h1 {
    font-size: 60px;
    color: #3c184e;
    text-align: center;
    font-weight: 800;
    margin: 0 0 40px 0;
}

.b-cont2 p {
    width: 200px;
    padding: 10px 0;
    margin: 0 auto 0 auto;
    border-radius: 10px;
    background-color: #3c184e;
    font-size: 20px;
    text-align: center;
}

.b-cont2 a {
    color: #ffff;
    margin-right: 10px;
}

                    /* FIM BANNER */

                    /* INÍCIO SERVIÇOS */

.servicos {
    padding: 120px 80px 120px 80px;
}

.s-cont1 {
    font-size: 36px;
    color:#3c184e;
    text-align: center;
    margin: 0 0 45px 0;
}

.s-cont2 {
    max-width: 800px;
    margin: 0 auto 50px auto;
    color: #3c184e;
}

.s-cont2 ul li {
    font-size: 20px;
    margin: 0 0 20px 0;
}

.s-cont3 {
    max-width: 750px;
    max-height: 240px;
    margin: 0 auto 0 auto;
    display: flex;
    border-radius: 10px;
    
    
    }

.s-cont3 img {
    border-radius: 5%;
    margin: 2px;
    box-shadow: 5px 2px 10px grey;
}

span {
    font-weight: 700;
    font-style: italic;
    text-align: justify;
}

/* Início CSS Faixa */
.faixa {
    background-color: #3c184e;
    text-align: center;
}
.text-faixa {
    max-width: 800px;
    margin: 0 auto 50px;
    color: #fff;
    font-size: 40px;
}
.redes-sociais a {
    margin: 0 20px;
}
.redes-sociais img {
    width: 50px;
    height: 50px;
}
/* Fim CSS Faixa */

/* Início CSS Marcas */
.container-marcas {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.logo-marca {
    width: 148px;
    height: 148px;
    margin: 0 15px;
}
/* Fim CSS Marcas */

/* Início CSS Onde estamos */
.onde-estamos {
    text-align: center;
}
.onde-estamos p {
    color: #3c184e;
    font-size: 20px;
    margin: 0 0 45px;
}
.onde-estamos iframe {
    width: 800px;
    height: 450px;
}
/* Fim CSS Onde estamos */

/* Início CSS Rodapé */
.rodape {
    background-color: #3c184e;
    padding: 10px 0;
}
.text-rodape {
    color: #fff;
    font-size: 12px;
    text-align: center;
}
/* Fim CSS Rodapé */
