body {
    margin: 0;
}

div {
    padding: 30px 0 30px 0;
    text-align: center;
    font-family: Tahoma;
}

p {
    margin: 10px auto 10px auto;
    width: 980px;
    font-size: 18px;
    line-height: 26px;
}

.sec1 {
    background-color: #afddfb;
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
}

.sec1 .plink a {
    font-size: 18px;
    color: #1d1d1d;
    border-bottom: solid #1d1d1d;
    text-decoration: none;
    margin: 0 10px 0 10px;
    text-align: center;
}

.sec2 {
    margin-top: 50px;
    padding-top: 0;
}

span {
    font-weight: bold;
}

h1 {
    color: #1d1d1d;
}
.sec3 h2 {
    color: #1c81c0;
    margin-top: 0;
    font-weight: normal;
}
.sec3 p {
    text-align: justify;
}
.sec3 p span {
    color: #1d80c1;
}

.sec4 {
    background-color: #1d80c1;
}
.sec4 h2 {
    color: #ffffff;
    font-size: 28px;
    line-height: 42px;
}
.sec4 p {
    color: #ffffff;
    line-height: 42px;
    font-size: 22px;
    width: 700px;
}
.sec4 span {
    color: #fff81b
}

.sec4 ul {
    margin: 40px auto 40px auto;
    color: #ffffff;
    font-size: 22px;
    line-height: 42px;
    text-align: left;
    padding-left: 620px;
}
.sec5 h2 {
    color: #1d80c1;
    font-size: 28px;
}
.sec5 p {
    text-align: justify;
    font-size: 18px;
}
.sec5 span {
    font-weight: bold;
    color:#1c81c0
}
.sec6 {
    background-color: #1d80c1;
}
.sec6 h2 {
    font-size: 28px;
    color: #ffffff;
}
.sec6 p {
    font-size: 18px;
    color: #ffffff;
    background-color: #1d1d1d;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.sec6 p span {
    color:#fff81b
}

.sec6 ul {
    margin: 40px auto 40px auto;
    width: 210px;
}
.sec6 ul li {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    background-color: #ffffff;
    color:#1d80c1;
    padding: 0 5px 0 5px;
    border-radius: 5px;
}
